.create-conatiner{
    text-align: center;
    height: auto;
    width: fit-content;
    box-sizing: border-box;
    padding: 10px;
}
.rec{
    width: fit-content;
    height: auto;
    margin: 10px auto 0;
}